/* reset
--------------------------------------------------*/
html {
	overflow: scroll;
	overflow: -moz-scrollbars-vertical;
	overflow-x: scroll; /* firefox  */
	overflow-y: scroll; 
}


html,body {
	height: 100%;
	width: 100%;
}

body,h1,h2,h3,h4,h5,h6,p,
li,ul,dl,dt,dd
{
	padding: 0;
	margin: 0;
	border: 0;
	list-style: none;
}